body { color: #000; background: #fcfcfc; }

a { color: #590e28; text-decoration: none; line-height: inherit; }
a:hover { color: #d18d2e; }
a:focus { color: #d18d2e; outline: none; }

.nice.tabs dd a.active { border-top: 3px solid #d18d2e; }
.nice.tabs.vertical dd a.active { background: #d18d2e; }

.nav-bar>li.has-flyout>a:after { border-top: 4px solid #d18d2e; }
.nav-bar>li:hover>a:after { border-top-color: #141414; }

.flyout { background: #8d1645; border: none; left: 0; z-index: 10000; }

#head
{
  margin-bottom: 40px;
}
#head #identity
{
  background: #ffe6bf url(../images/app/utm-emblem-40.png) no-repeat  20px 10px;
  height: 40px;
  padding: 10px 20px 10px 70px;
  border-bottom: 4px solid #590e28;
}
#head #identity h1.site-title
{
  font: normal 20px/1 'Francois One', serif;
  color: #590e28 !important;
  border-left: 1px solid #590e28;
  padding-left: 10px;
}

#main-navigation
{
  margin-bottom: 40px;
}
#main-navigation .nav-bar 
{
  margin: 0;
  border: none;

  background: #590e28; /* Old browsers */
  background: -moz-linear-gradient(top, #8d1645 0%, #590e28 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8d1645), color-stop(100%,#590e28)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #8d1645 0%,#590e28 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #8d1645 0%,#590e28 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #8d1645 0%,#590e28 100%); /* IE10+ */
  background: linear-gradient(top, #8d1645 0%,#590e28 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d1645', endColorstr='#590e28',GradientType=0 ); /* IE6-9 */
}
#main-navigation .nav-bar a
{
  color: #fff;
}
#main-navigation .nav-bar > li
{
  height: 45px;
  border-right: 1px solid #fcfcfc;
}
#main-navigation .nav-bar > li > a
{
  font-weight: bold;
  font-size: 11px;
  line-height: 1;
  height: 45px;
}
#main-navigation .nav-bar > li:hover,
#main-navigation .nav-bar > li > a:hover,
#main-navigation .nav-bar > li.active,
#main-navigation .nav-bar > li.active > a
{
  background: #8d1645;
}
#main-navigation .nav-bar li > a > span
{
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  padding-top: 5px;
}
#main-navigation .flyout
{
  color: #fff;
}
#main-navigation .flyout a:hover
{
  color: #d18d2e;
}
#main-navigation .flyout.sub-nav-columns .title
{
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 5px;
}
#main-navigation .flyout.sub-nav-columns ul,
#main-navigation .flyout.sub-nav-columns ul > li
{
  font-size: 12px;
  margin: 0;
}
#main-navigation .flyout.sub-nav-columns ul > li
{
  margin-bottom: 2px;
}

#main-navigation #mn-home a
{
  background: url(../images/app/nav-home.png) no-repeat center;
  text-indent: -9999px;
  width: 45px;
  height: 45px;
  padding: 0 5px;
}

#fi-ac
{
  height: 300px;
  margin-bottom: 20px;
}

#announcements .tabs-content
{
  font-size: 11px;
}
#announcements .tabs-content a
{
  font-weight: bold;
}

.widget
{
  position: relative;
}
.widget h3.widget-title
{
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  color: #590e28;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.widget .widget-more
{
  position: absolute;
  top: 1px;
  right: 0;
}