body { color: #000; background: #fcfcfc; }

a { color: #590e28; text-decoration: none; line-height: inherit; }
a:hover { color: #d18d2e; }
a:focus { color: #d18d2e; outline: none; }

.nice.tabs dd a.active { border-top: 3px solid #d18d2e; }
.nice.tabs.vertical dd a.active { background: #d18d2e; }

.nav-bar>li.has-flyout>a:after { border-top: 4px solid #d18d2e; }
.nav-bar>li:hover>a:after { border-top-color: #141414; }

.flyout { background: #8d1645; border: none; left: 0; z-index: 10000; }

#head
{
  margin-bottom: 40px;
}
#head #identity
{
  background: #ffe6bf url(../images/app/utm-emblem-40.png) no-repeat  20px 10px;
  height: 40px;
  padding: 10px 20px 10px 70px;
  border-bottom: 4px solid #590e28;
}
#head #identity h1.site-title
{
  font: normal 20px/1 'Francois One', serif;
  color: #590e28 !important;
  border-left: 1px solid #590e28;
  padding-left: 10px;
}

#quicky
{
  padding: 5px 0 0;
}
#quicky form
{
  margin: 0;
}

#quicky form#search
{
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #590e28;
}
#quicky form#search #q
{
  background: #ffe6bf;
  width: 98%;
  padding: 3px;
  border: none;
  max-width: 298px;
}

#quicky form#quick-links ul,
#quicky form#quick-links li
{
  margin: 0;
}
#quicky form#quick-links .dk_container
{
  background: #ffe6bf;
}
#quicky form#quick-links .dk_open .dk_toggle
{
  border-color: #e5e5e5;
}

#quicky #social-media
{
  width: auto;
  display: block;
  margin-left: 10px;
}
#quicky #social-media li
{
  float: right;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
#quicky #social-media a
{
  width: 32px;
  height: 32px;
  display: block;
  text-indent: -9999px;
}
#quicky #social-media li.fb a
{
  background-image: url(../images/app/facebook_32.png);
}
#quicky #social-media li.twitter a
{
  background-image: url(../images/app/twitter_32.png);  
}

#footer
{
  font-size: 11px;
  background: #ffe6bf;
  border-top: 4px solid #590e28;
  margin-top: 50px;
}
#footer .row
{
  background: transparent url(../images/app/footer-bg.png) no-repeat right -40px;
  padding: 20px 0 2px;
}
#footer a
{
  font-weight: bold;
}
#footer #legalese
{
  text-align: right;
}

#main-navigation
{
  margin-bottom: 40px;
}
#main-navigation .nav-bar 
{
  margin: 0;
  border: none;

  background: #590e28; /* Old browsers */
  background: -moz-linear-gradient(top, #8d1645 0%, #590e28 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8d1645), color-stop(100%,#590e28)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #8d1645 0%,#590e28 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #8d1645 0%,#590e28 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #8d1645 0%,#590e28 100%); /* IE10+ */
  background: linear-gradient(top, #8d1645 0%,#590e28 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d1645', endColorstr='#590e28',GradientType=0 ); /* IE6-9 */
}
#main-navigation .nav-bar a
{
  color: #fff;
}
#main-navigation .nav-bar > li
{
  height: 45px;
  border-right: 1px solid #fcfcfc;
}
#main-navigation .nav-bar > li > a
{
  font-weight: bold;
  font-size: 11px;
  line-height: 1;
  height: 45px;
}
#main-navigation .nav-bar > li:hover,
#main-navigation .nav-bar > li > a:hover,
#main-navigation .nav-bar > li.active,
#main-navigation .nav-bar > li.active > a
{
  background: #8d1645;
}
#main-navigation .nav-bar li > a > span
{
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  padding-top: 5px;
}
#main-navigation .flyout
{
  color: #fff;
}
#main-navigation .flyout a:hover
{
  color: #d18d2e;
}
#main-navigation .flyout.sub-nav-columns .title
{
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 5px;
}
#main-navigation .flyout.sub-nav-columns ul,
#main-navigation .flyout.sub-nav-columns ul > li
{
  font-size: 12px;
  margin: 0;
}
#main-navigation .flyout.sub-nav-columns ul > li
{
  margin-bottom: 2px;
}

#main-navigation #mn-home a
{
  background: url(../images/app/nav-home.png) no-repeat center;
  text-indent: -9999px;
  width: 45px;
  height: 45px;
  padding: 0 5px;
}

#fi-ac
{
  height: 300px;
  margin-bottom: 40px;
}

#announcements .tabs-content
{
  font-size: 11px;
}
#announcements .tabs-content a
{
  font-weight: bold;
}


#everything
{
  margin-bottom: 40px;
  clear: both;
}
#everything .nice.vertical.tabs
{
  margin-right: -34%;
}
#everything .nice.tabs-content.contained > li
{
  border: 1px solid #eee;
}

#connect .nice.tabs-content.contained
{
  font-size: 11px;
}
#connect .nice.tabs-content.contained ul
{
  margin: 0;
}
#connect .nice.tabs-content.contained ul > li
{
  background-position: 0 center;
  background-repeat: no-repeat;
  line-height: 24px;
  margin: 0;
  padding: 0 0 0 20px;
}

#in-the-netTab .fb
{
  background-image: url(../images/app/facebook_16.png);
}
#in-the-netTab .twitter
{
  background-image: url(../images/app/twitter_16.png);
}
#in-the-netTab .youtube
{
  background-image: url(../images/app/youtube_16.png);
}

#emailTab li
{
  background-image: url(../images/app/email.png);
}
#emailTab span
{
  font-style: italic;
}
#resourcesTab li
{
  background-image: url(../images/app/world.png);
}